
body {
    font-family: Verdana !important;
    font-size: 10px !important;
}

#content {
    padding:10px;
}

.centerText {
    text-align: center;
}

.inertLink {
    cursor: default;
}

.gameItem {
    width: 200px;
    height: 40px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
    display: block;
    position: relative;
    color: white;
    transition: all 200ms;
    overflow: hidden;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.gameItemBackground {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.7;
}

.gameTitle {
    text-overflow: ellipsis;
    margin-top: 6px;
}

.highScoreHolder {
    font-size: x-small;
    display: none;
}

.gameItemLink:hover {
    background-image: none !important;
    background-color: transparent !important;
}

.gameItemLink:hover .gameItem {
    width: 200px;
    height: 70px;
    transition: all 200ms;
}

.gameItemLink:hover .highScoreHolder {
    display: block;
    transition: all 1s;
}

.gameItemLink:hover .gameItemBackground {
    transition: all 1s;
    background-size: 120%;
}
.two-rows {
    text-align: center;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

#gameContainer {
    width:100%;
    height:800px;
}

#gameObject {
    position:absolute;
    left: 50%;
    margin-left: -500px;
}

#gameDescription {
    padding:0;
    position:relative;
    font-size: 12px;
}
.gameDescriptionToggle{
    position:relative;

}

#csLogo {
    margin-top:-50px;
    position:absolute;
    left: 50%;
    margin-left: -300px;
    width:600px;
    z-index:-1;
}

#instructions #gameDescription{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 12px;
}

iframe {
    border:none;
}

.universityIcon {
    height: 20px;
}

.btn-invisible {
    background:transparent;
    border:none;
}