{% extends "root.html" %}

{% block head %}
  {% if reloadDelay %}
    <script>
      $(window).on('load', function () {
        setTimeout(function () {
          document.location.href = document.location.href;
        }, {{ reloadDelay }});
      });
    </script>
  {% endif %}
  <style>
    .gameHolder {
      float: left;
      height: 55px;
      width: 90px;
      display: block;
      position: relative;
      padding: 4px;
      border-radius: 4px;
      margin: 5px;
      color: white;
      text-shadow: 0.1em 0.1em 0.2em black;
      text-align: center;
      font-size: 14px;
      box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8);
      background: transparent;
      vertical-align: middle;
    }

    .scoreHolder {
      float: left;
      height: 55px;
      display: block;
      position: relative;
      padding: 4px;
      margin: 5px;
      text-align: center;
      font-size: 10px;
      background: transparent;
      box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8);
    }

    .infoContainer {
      float: left;
      height: 100%;
      max-width: 90px;
      font-weight: bold;
      vertical-align: middle;
        margin-right:5px;
    }

    .gameItemBackground {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      z-index: -2;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      overflow: hidden;
      border-radius: 4px;
    }

    .gameItemBackground::before {
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      z-index: -1;
      background-image: linear-gradient(
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0)
      );
      background-color: transparent;
    }

    .score {
      font-size: 15px;
    }

    .tableCell {
      line-height: 50px;
      font-size: 18px;
    }

    .universityLogo {
      float: left;
      max-height: 50%;
      max-width: 40%;
      margin-top: 10%;
      margin-right: 5px;
    }

    .rank {
      font-size:12px;
      background-color: #bbbbbb;
      text-shadow: 0 0 0.5em black;
      border:1px solid #9d9d9d;
      color: #ffffff;
      box-shadow:0 0 2px white;
      border-radius: 40px;
      padding:5px;
      width:28px;
      height:28px;
      position:absolute;
      left:-8px;
      bottom:-10px;
      white-space: nowrap;
      text-align:center;
      font-weight:bold;
    }


    .rank.gold, .rank.silver, .rank.bronze {
      color: black;
      border: 1px solid darkblue;
    }

    .rank.gold {
      background-image: linear-gradient(to top right, #876300, #ffd700, #876300);
    }

    .rank.silver {
      background-image: linear-gradient(to top right, #5c5c5c, #c0c0c0, #5c5c5c);
    }

    .rank.bronze {
      background-image: linear-gradient(to top right, #673420, #cd7f32, #673420);
    }

  </style>
{% endblock %}

{% block body %}
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-1">Game</th>
      <th class="col-md-25">Team Rankings</th>
    </tr>
    </thead>
    <tbody>
    {% for game in games %}
      <tr>
        <td>
          <a target="_top" href="/?gameID={{ game.gameID }}">
            <div class="gameHolder">
              <span><b>{{ game.name }}</b></span><br/>
              <div class="gameItemBackground"
                   style="background-image: url('/static/gameBanners/game{{ game.gameID }}.jpg');">
              </div>
            </div>
          </a>
        </td>
        <td>
          {% for score in game.getBestScores %}
            <div class="scoreHolder">
              <img class="universityLogo" src="/static/universities/{{ score.team.universityName }}.png"/>
              <div class="infoContainer">
                <div>{{ score.team.name }}</div>
                <div class="score">{{ score.score }}</div>
                <br>
              </div>
              {% with score.getRank as rank %}
                {% if rank == 1 %}
                  <div class="rank gold">
                {% elif rank == 2 %}
                  <div class="rank silver">
                {% elif rank == 3 %}
                  <div class="rank bronze">
                {% else %}
                  <div class="rank">
                {% endif %}
                  {{ score.getRank }}
                  </div>
              {% endwith %}
            </div>
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
