{% extends "main.html" %}

{% block title %}Gaming Competition - CS Games 2018{% endblock %}

{% block extraNavLeft %}

  <!-- TEAM SELECTION -->
  <li class="dropdown">
    <a href="#" class="dropdown-toggle two-rows" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false">
      {% if currentTeam %}
        Currently playing as:<br> <b>{{ currentTeam }}</b>
      {% else %}
        <b>Please select<br>your team</b>
      {% endif %}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% for team in teams %}
        <li {% if team == currentTeam %}class="active"{% endif %}>
          <a href="/?teamID={{ team.pk }}{% if currentGame %}&gameID={{ currentGame.gameID }}{% endif %}">
            <img class="universityIcon" src="/static/universities/{{ team.universityName }}.png"/>
            | <b>{{ team.name }}</b>
          </a>
        </li>
      {% endfor %}

    </ul>
  </li>

  <!-- GAME SELECTION -->
  {% if currentTeam %}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle two-rows" data-toggle="dropdown" role="button" aria-haspopup="true"
         aria-expanded="false">
        {% if currentGame %}
          Currently playing:<br> <b>{{ currentGame }}</b>
        {% else %}
          <b>Please select <br>a game:</b>
        {% endif %}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        {% for game in games %}
          <li>
            <a
                class="dropdown-item gameItemLink"
                href="/?teamID={{ currentTeam.pk }}&gameID={{ game.gameID }}"
            >
              <div class="gameItem">
                <button
                    class="btn-invisible"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="{{ game.description }}"
                >
                  <div class="gameTitle"><b>{{ game.name }}</b></div>
                  <div class="highScoreHolder">
                    Current highscore holder: <br/>
                    <b>
                      {% if game.getCurrentHighScore %}
                        {{ game.getCurrentHighScore.team.name }}
                        ({{ game.getCurrentHighScore.score }})
                      {% else %}
                        No one yet!
                      {% endif %}
                    </b>
                  </div>
                  <div
                      class="gameItemBackground"
                      style="background-image:url('/static/gameBanners/game{{ game.gameID }}.jpg')"
                  ></div>
                </button>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endif %}
{% endblock %}

{% block extraNavRight %}
  <!-- SCOREBOARD LINK -->
  {% if SCOREBOARD_ENABLED %}
  <li>
    <a href="/scoreboard" target="_blank">
      <b>View Scoreboard</b>
    </a>
  </li>
  {% endif %}
{% endblock %}

{% block extraContent %}
  {% if currentGame and currentTeam %}
    {% if currentTeam.falseScoreCount < MAX_FALSE_SCORE_ATTEMPS %}
      {% if currentTeam.falseScoreCount >= BAN_WARNING_THRESHOLD %}
        <div class="alert alert-danger" role="alert">
          <div class="centerText">
            <h5>
              <b>WARNING</b>: Someone in your team is trying to cheat! Your team be banned from the
              competition if this continues.
            </h5>
          </div>
        </div>
      {% endif %}
      <div id="gameContainer">
        <object
            id="gameObject"
            width="1000"
            height="600"
            data="/static/games/game{{ currentGame.gameID }}.swf"
            type="application/x-shockwave-flash"
        >
          <param name="allowScriptAccess" value="sameDomain"/>
          <param name="flashvars" value="teamID={{ currentTeam.id }}&gameID={{ currentGame.gameID }}&score=0"/>
          <div class="centerText">
            <a href="https://get.adobe.com/flashplayer/">
              <h3>Click here to activate FLash Player.</h3>
            </a>
          </div>
        </object>
      </div>
    {% else %}
      <div class="alert alert-danger" role="alert">
        <div class="centerText">
          <h5>
            Due to an excessive number of cheating attemps, your team was banned from playing. Your
            scores are removed from the ranking.
          </h5>
        </div>
      </div>
    {% endif %}
  {% else %}
    <div class="centerText">
      <h2>Welcome to the 2018's CS Games gaming competition!</h2>
      <h3>Click
        <a data-toggle="collapse" href="#instructions" role="button" aria-expanded="false"
           aria-controls="collapseExample">here</a>
        for instructions</h3>
    </div>
    <img id="csLogo" src="/static/cs-games-logo.png"/>
  {% endif %}

{% endblock %}
