{% extends "root.html" %}

<link rel="stylesheet" type="text/css" href="/static/styles.css"/>
{% block head %}
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" type="text/css" href="/static/styles.css"/>

  {% block extraHead %}{% endblock %}
{% endblock %}

{% block body %}
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- TITLE -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img src="/static/cs-gaming-banner.png" style="height:100%;"/>
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% block extraNavLeft %}{% endblock %}
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <!-- HOW TO PLAY -->
            <li>
              <a data-toggle="collapse" href="#instructions" role="button" aria-expanded="false"
                 aria-controls="collapseExample">
                How to play
              </a>
            </li>
            {% block extraNavRight %}{% endblock %}
          </ul>
        </div>
      </div>
    </nav>

    <div id="content">
      {% if not SITE_ENABLED and user.is_authenticated %}
        <div class="alert alert-warning" role="alert">
          <div class="centerText">
            <h5>
              <b>WARNING</b>: Site is currently disabled. Only logged-in users are able to see it. (Enable it in the <a href="/admin/cs18_gaming/siteparams/1/change/">admin</a> section)
            </h5>
          </div>
        </div>
      {% endif %}

      <div class="collapse" id="instructions">
        <h4>Instructions:</h4>
        <p>
          The goal of this competition is to play the most games and register a higher score than the
          other teams in as much as possible of the {{ games.count }} available games.
        </p>
        <p>
          Only the ten best scores for a given game will be considered in the final ranking.
          Teams are ranked according to the total of their best (and only best) score for each of the games,
          if it is within the ten best scores considered.
        </p>
        <p>
          If a team scores better than the others in a particular game multiple times, only the best score is used
          in the ranking.
        </p>
        <p>
          Don't waste time and start playing, as the competition shall be fierce! Start by selecting your team in the
          navigation bar.
        </p>
        <p>
          <b>IMPORTANT:</b> If you are experiencing difficulties loading the flash games, try another browser like
          Chrome
          or Firefox. If difficulties persists, please ask assistance immediately.
        </p>
        <div class="centerText">
          <a data-toggle="collapse" href="#instructions" role="button" aria-expanded="false"
             aria-controls="collapseExample">
            Close
          </a>
        </div>
        <hr>
      </div>
      {% block extraContent %}{% endblock %}
    </div>
  </div>
{% endblock %}
