{% extends "main.html" %}

{% block title %}Scoreboard{% endblock %}

{% block extraHead %}
  <script>
    function resizeIframe(obj) {
      obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
  </script>
{% endblock %}

{% block extraContent %}

  <h3><a href="/scoreboard?ranking=teams" target="_blank">Team rankings:</a></h3>
    <iframe
        src="/scoreboard?ranking=teams&limit=5&reload=5000"
        scrolling="no"
        width="100%"
        onload="resizeIframe(this)"
    ></iframe>
  <hr/><br/>
  <h3><a href="/scoreboard?ranking=games" target="_blank">Per-Games rankings:</a></h3>
  <iframe
      src="/scoreboard?ranking=games&reload=5000"
      scrolling="no"
      width="100%"
      onload="resizeIframe(this)"
  ></iframe>

{% endblock %}
