{% extends "root.html" %}

{% block head %}
  {% if reloadDelay %}
    <script>
      $(window).on('load', function () {
        setTimeout(function(){
          document.location.href = document.location.href;
        }, {{ reloadDelay }});
      });
    </script>
  {% endif %}
  <style>
    .scoreHolder {
      float: left;
      height: 60px;
      width:90px;
      display: block;
      position: relative;
      padding:4px;
      border-radius: 4px;
      margin: 1px 6px 1px 1px;
      color:white;
      text-shadow: 0.1em 0.1em 0.2em black;
      text-align: center;
      font-size:10px;
      box-shadow: 0 0 0.5em rgba(0,0,0,0.8);
      background:transparent;
    }

    .gameItemBackground {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      z-index: -2;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      overflow:hidden;
      border-radius: 4px;
    }
    .gameItemBackground::before {
      content:"";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      z-index:-1;
      background-image: linear-gradient(
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0)
      );
      background-color:transparent;
    }

  .score {
    font-size:18px;
    font-weight:bold;
  }

  .rank {
    font-size:12px;
    background-color: #bbbbbb;
    text-shadow: 0 0 0.5em black;
    border:1px solid #9d9d9d;
    color: #ffffff;
    box-shadow:0 0 2px white;
    border-radius: 40px;
    padding:5px;
    width:28px;
    height:28px;
    position:absolute;
    left:-8px;
    bottom:-10px;
    white-space: nowrap;
    text-align:center;
    font-weight:bold;
  }

  .rank.gold, .rank.silver, .rank.bronze {
    color: black;
    border:1px solid darkblue;
  }

  .rank.gold {
    background-image:linear-gradient(to top right, #876300, #ffd700, #876300);
  }
  .rank.silver {
    background-image:linear-gradient(to top right, #5c5c5c, #c0c0c0, #5c5c5c);
  }
  .rank.bronze {
    background-image:linear-gradient(to top right, #673420, #cd7f32, #673420);
  }

  .tableCell {
    line-height: 50px;
    font-size: 18px;
  }

  .universityIcon {
    max-height:40px;
    vertical-align: middle;
    max-width: 55px;
    margin-right:10px;
  }

  </style>
{% endblock %}

{% block body %}
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-0">#</th>
      <th class="col-md-3">Team</th>
      <th class="col-md-1">Total <br/>Score</th>
      <th class="col-md-25">Best Scores</th>
    </tr>
    </thead>
    <tbody id="teamRankings">
    {% for team in teams %}
      <tr>
        <td><span class="tableCell">{{ forloop.counter }}</span></td>
        <td>
          <spanclass="tableCell">
            <img class="universityIcon" src="/static/universities/{{ team.universityName }}.png" />
          </span>
          <span class="tableCell"><b>{{ team.name }}</b></span>
        </td>
        <td><span class="tableCell">{{ team.getTotalScore|floatformat:1 }}</span></td>
        <td>
          {% for score in team.getRankedScores %}
            <a
              target="_top"
              href="/?gameID={{ score.game.gameID }}">
              <div class="scoreHolder">
                <span><b>{{ score.game.name }}</b></span><br/>
                <span class="score">{{ score.score }}</span><br>
                {% with score.getRank as rank %}
                  {% if rank == 1 %}
                    <div class="rank gold">
                  {% elif rank == 2 %}
                    <div class="rank silver">
                  {% elif rank == 3 %}
                    <div class="rank bronze">
                  {% else %}
                    <div class="rank">
                  {% endif %}
                      {{ score.getRank }}</div>
                {% endwith %}
                <div class="gameItemBackground"
                     style="background-image: url('/static/gameBanners/game{{ score.game.gameID }}.jpg');">
                </div>
              </div>
            </a>
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
